<footer>
    <div class="f-info">
        <div calss="f-info-socials">
            <i class="fa-brands fa-facebook icons"></i>
            <i class="fa-brands fa-instagram icons"></i>
            <i class="fa-brands fa-linkedin icons"></i>
        </div>
        
        <div class="f-info-companyName">&copy; Wanderlust Private Limited</div>
        
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
    
        </div>
    </div>
    
 </footer>